{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}Change Password - {{ block.super }}{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{% static "food/js/forms.js" %}"></script>
{% endblock %}

{% block usermenu %}{% endblock %}

{% block messages %}{% endblock %}

{% block content %}
    <section class="auth banner indented">
        <h2>Change Password</h2>

        <form method="post" action="{% url 'django.contrib.auth.views.password_change' %}">
            {% csrf_token %}
            {% include "form_ul.html" %}
            <input type="submit" value="Submit" />
        </form>
    </section>
{% endblock %}
