{% extends 'base.html' %}
{% load compress %}

{% block title %}Internal server error - {{ block.super }}{% endblock %}

{% block css %}{% compress css %}{{ block.super }}{% endcompress %}{% endblock %}
{% block js %}{% compress js %}{{ block.super }}{% endcompress %}{% endblock %}

{% block usermenu %}{% endblock %}

{% block messages %}{% endblock %}

{% block content %}
    <div class="error banner indented">
        <h2>Internal server error (HTTP 500)</h2>
        <h3>An unexpected error occurred.</h3>
    </div>
{% endblock %}
