{% extends 'base.html' %}
{% load compress %}

{% block title %}Forbidden - {{ block.super }}{% endblock %}

{% block css %}{% compress css %}{{ block.super }}{% endcompress %}{% endblock %}
{% block js %}{% compress js %}{{ block.super }}{% endcompress %}{% endblock %}

{% block usermenu %}{% endblock %}

{% block messages %}{% endblock %}

{% block content %}
    <div class="auth banner indented">
        <h2>Forbidden (HTTP 403)</h2>
        <h3>You're not allowed to access this page.</h3>
    </div>
{% endblock %}
