{% extends 'base.html' %}
{% load compress %}

{% block title %}Not found - {{ block.super }}{% endblock %}

{% block css %}{% compress css %}{{ block.super }}{% endcompress %}{% endblock %}
{% block js %}{% compress js %}{{ block.super }}{% endcompress %}{% endblock %}

{% block usermenu %}{% endblock %}

{% block messages %}{% endblock %}

{% block content %}
    <div class="info banner indented">
        <h2>Not found (HTTP 404)</h2>
        <h3>The page you requested couldn't be located.</h3>
    </div>
{% endblock %}
