{% load static from staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us">
<head>
    <title>{% block title %}Hootvetica{% endblock %}</title>

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "food/css/base.css" %}" />
    {% endblock %}

    {% block js %}
        <script type="text/javascript" src="{% static "js/jquery-1.9.1.min.js" %}"></script>
    {% endblock %}

    {% if GOOGLE_ANALYTICS_ID %}{% include 'ga.html' %}{% endif %}
</head>

<body>
    {% block precontainer %}{% endblock %}
    <div id="container">
        <nav id="topmenu">
            {% block homelink %}<a href="{% url 'index' %}" id="homelink">Hootvetica</a>{% endblock %}

            <ul id="usermenu">
                {% block usermenu %}
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                            <li><a href="{% url 'admin:index' %}">Admin site</a></li>
                        {% endif %}
                        <li><a href="{% url 'django.contrib.auth.views.password_change' %}">Change password</a></li>
                        <li><a href="{% url 'django.contrib.auth.views.logout' %}?next={{ request.path }}">Log out</a></li>
                    {% else %}
                        <li><a href="{% url 'django.contrib.auth.views.login' %}?next={{ request.path }}">Log in</a></li>
                    {% endif %}
                {% endblock %}
            </ul>
        </nav>

        {% block messages %}
            {% if messages %}
                <ul id="messagelist">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                    <script type="text/javascript" src="{% static "food/js/messages.js" %}"></script>
                </ul>
            {% endif %}
        {% endblock %}

        {% block content %}{% endblock %}
    </div>
    {% block postcontainer %}{% endblock %}
</body>
</html>
