<div id="intro" class="popup">
    <h2>How does this even work?</h2>
    <p>Updating the status of an item is easy. First, click on the title of the category below to expand it.</p>
    <p class="hidden">Next, click on an item to show its update buttons. Try updating the item "Item 2".</p>
    <p class="hidden">Nice! You'll be an expert in no time.</p>

    <div class="category collapsed indented banner">
        <h2>Category</h2>
        <h3>Available</h3>
        <div class="items">
            <div class="item">
                <h3>Item 1</h3>
                <p>Available</p>
            </div>
            <div class="item editable">
                <h3>Item 2</h3>
                <p>Available</p>
                <ul class="item-buttons">
                    <li><a href="#" class="button available">Available</a></li>
                    <li><a href="#" class="button out">Sold Out</a></li>
                </ul>
            </div>
            <div class="item out">
                <h3>Item 3</h3>
                <p>Sold out</p>
            </div>
        </div>
    </div>

    <ul class="popup-buttons">
        <li><a href="#" class="button confirm">Got it!</a></li>
    </ul>
</div>
