<div id="overlay">
    <div id="popup">
        <h2></h2>
        <p></p>

        <form id="locationform">
            <input id="open" name="open" type="hidden" value="" />
        </form>

        <form id="categoryform">
            <ul class="form">
                <li><ul class="field">
                    <li><label for="cname">Name</label></li>
                    <li><input id="cname" name="name" type="text" maxlength="32" /></li>
                </ul></li>
                <li><ul class="field">
                    <li><label for="heat">Contains hot food</label></li>
                    <li><input type="checkbox" name="contents_hot" id="heat"></li>
                </ul></li>
            </ul>
            <input id="cparent" name="parent" type="hidden" value="" />
        </form>

        <form id="itemform">
            <ul class="form">
                <li><ul class="field">
                    <li><label for="iname">Name</label></li>
                    <li><input id="iname" name="name" type="text" maxlength="32" /></li>
                </ul></li>
                <li><ul class="field">
                    <li><label for="status">Status</label></li>
                    <li><select id="status" name="status" >
                        <option value>---------</option>
                        <option value="AVA">Available</option>
                        <option value="LOW">Running Low</option>
                        <option value="OUT">Sold Out</option>
                        <option value="QTY">Qty Remaining</option>
                    </select></li>
                </ul></li>
                <li><ul class="field">
                    <li><label for="quantity">Quantity</label></li>
                    <li><input id="quantity" name="quantity" type="text" size="9" /></li>
                </ul></li>
            </ul>
            <input id="iparent" name="parent" type="hidden" value="" />
        </form>

        <ul class="inline">
            <li><a href="#" class="button confirm">OK</a></li>
            <li><a href="#" class="button cancel">Cancel</a></li>
        </ul>
        <div class="statusbar"><p></p></div>
    </div>
</div>

<div class="location">
    <div class="locationhead">
        <h1></h1>
        <ul class="inline">
            <li><a href="#" class="button toggle">Open/Close Location</a></li>
            <li><a href="#" class="button add">Add Category</a></li>
        </ul>
    </div>
    <div class="colorbox info">
        <h2>Location Closed</h2>
        <p></p>
    </div>
    <div class="categories"></div>
</div>

<div class="category">
    <div class="categoryhead">
        <h2></h2>
        <ul class="inline">
            <li><a href="#" class="button edit">Edit</a></li>
            <li><a href="#" class="button delete">Delete</a></li>
            <li><a href="#" class="button add">Add Item</a></li>
        </ul>
    </div>
    <div class="items"></div>
</div>

<div class="item">
    <h3></h3>
    <ul class="inline">
    <p></p>
        <li><a href="#" class="button edit">Edit</a></li>
        <li><a href="#" class="button delete">Delete</a></li>
    </ul>
</div>
