{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}Edit {{ model }} - {{ block.super }}{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{% static "food/js/forms.js" %}"></script>
{% endblock %}

{% block messages %}{% endblock %}

{% block content %}
<section class="gray banner indented">
    <h2>{{ action|capfirst }} {{ model|capfirst }}</h2>

    <form method="post" action="">
        {% csrf_token %}
        {% include "form_ul.html" %}
        <input type="submit" value="Submit" />
    </form>
</section>
{% endblock %}
