{% extends 'base.html' %}
{% load static from staticfiles %}
{% load compress %}

{% block css %}{% compress css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "food/css/index.css" %}" />
{% endcompress %}{% endblock %}

{% block js %}{% compress js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "food/js/cs.js" %}"></script>
{% endcompress %}{% endblock %}

{% block homelink %}
    <span id="homelink">Hootvetica</span>
{% endblock %}

{% block content %}
    <section>
        <ul>
            {% for location in location_list %}
                <li>
                    <a href="{% url 'location' location.uid %}" class="noline">
                        <div class='location{% if not location.open %} closed{% elif not location.hot_food_available %} out{% endif %} indented banner'>
                            <h2>{{ location.name }}</h2>
                            <h3>{% if not location.open %}Location closed{% elif not location.hot_food_available %}No hot food{% else %}Location open{% endif %}</h3>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section class="indented">
        <h3>About</h3>
        <p>The Hoot is great, but sometimes they run out of hot food. Sometimes you don't know when they've run out of hot food and you trek all the way over even though it's cold and raining outside because you're hungry goddamnit and you eventually get there and discover the aforementioned lack of hot food and a soda or candy bar is just not going to cut it and you sink silently to the floor as tears stream down your face. Now you can view their inventory online—in a classic Swiss typeface, no less—before you make the trip.</p>
        <ul id="testimonials">
            <li>
                <blockquote><p>Lorem ipsum dolor sit amet.</p></blockquote>
                <p class="cite">Anonymous</p>
            </li>
        </ul>
        <p><strong>All inventory data is user-provided,</strong> so it may not be completely accurate. You can help by correcting errors as you find them.</p>
    </section>

    <footer id="credits">
        <p>Site by <span id="byline">X</span></p>
        <a href="http://jquery.com" class="jquery" target="_blank">jQuery</a>
        <a href="http://djangoproject.com" class="django" target="_blank">Django</a>
    </footer>
{% endblock %}
