{% extends 'base.html' %}
{% load url from future %}
{% load static from staticfiles %}

{% block title %}{{ location.name }} - {{ block.super }}{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static "food/css/location_detail.css" %}" />
    <script id="ajax-client-script" type="text/javascript" src="{% static "food/js/ajax_client.js" %}"></script>
    <script>$('#ajax-client-script').data('initData', {% include 'food/ajax_client_config.json' %});</script>
{% endblock %}

{% block content %}
    <div class="statusbar hidden"><p></p></div>

    <div class="location">
        <h1>{{ location.name }}</h1>

        {% if perms.food.change_location or perms.food.set_location_status or perms.food.add_category %}
            <ul class="location-buttons">
                {% if perms.food.change_location or perms.food.set_location_status %}
                    <li><a class="button" href="{% url 'location-edit' location.uid %}" class="button toggle">Open/Close Location</a></li>
                {% endif %}
                {% if perms.food.add_category %}
                    <li><a class="button" href="{% url 'category-add' %}?parent={{ location.uid }}" class="button add">Add Category</a></li>
                {% endif %}
            </ul>
        {% endif %}

        {% if not location.open %}
            <div class="indented banner info">
                <h2>Location Closed</h2>
                {% if perms.food.change_location or perms.food.set_location_status %}
                    <p>No information is visible to the public. You can open this location using the controls above.</p>
                {% elif user.is_authenticated %}
                    <p>No information is visible to the public.</p>
                {% else %}
                    <h3>You can't buy any food.</h3>
                {% endif %}
            </div>
        {% endif %}

        {% if location.open or user.is_authenticated %}
            <div class="categories">
                {% for category in location.category_set.all %}
                    <div class="category{% if category.item_set.count == 0 %} empty{% elif not category.food_available %} out{% endif %} indented banner">
                        <h2>{{ category.name }}</h2>
                        <h3>{% if category.item_set.count == 0 %}No items{% elif not category.food_available %}Sold out{% else %}Available{% endif %}</h3>

                        {% if perms.food.change_category or perms.food.delete_category or perms.food.add_item %}
                            <ul class="category-buttons">
                                {% if perms.food.change_category %}
                                    <li><a href="{% url 'category-edit' category.uid %}" class="button edit">Edit</a></li>
                                {% endif %}
                                {% if perms.food.delete_category %}
                                    <li><a href="{% url 'category-del' category.uid %}" class="button delete">Delete</a></li>
                                {% endif %}
                                {% if perms.food.add_item %}
                                    <li><a href="{% url 'item-add' %}?parent={{ category.uid }}" class="button add">Add Item</a></li>
                                {% endif %}
                            </ul>
                        {% endif %}

                        <div class="items">
                            {% for item in category.item_set.all %}
                                <div class="item{% if item.status == "LOW" %} low{% elif item.status == "OUT" %} out{% endif %}">
                                    <h3>{{ item.name }}</h3>
                                    <p>{% if item.status == "QTY" %}{{ item.quantity }} Left{% else %}{{ item.get_status_display }}{% endif %}</p>

                                    {% if perms.food.change_item or perms.food.delete_item %}
                                        <ul class="item-buttons">
                                            {% if perms.food.change_item %}
                                                <li><a href="{% url 'item-edit' item.uid %}" class="button edit">Edit</a></li>
                                            {% endif %}
                                            {% if perms.food.delete_item %}
                                                <li><a href="{% url 'item-del' item.uid %}" class="button delete">Delete</a></li>
                                            {% endif %}
                                        </ul>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% empty %}
                    <h3>There aren't any items associated with this location.</h3>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock content %}
