div#intro > div.category
{
    margin: 0 -1em;
    background-color: rgb(175,230,116);
}

div#intro > p
{
    max-height: 9em;
    opacity: 1;

    -webkit-transition-property: max-height, margin, opacity;
    -moz-transition-property: max-height, margin, opacity;
    -ms-transition-property: max-height, margin, opacity;
    -o-transition-property: max-height, margin, opacity;
    transition-property: max-height, margin, opacity;

    -webkit-transition-duration: 0.35s;
    -moz-transition-duration: 0.35s;
    -ms-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

div#intro > p.hidden
{
    max-height: 0;
    margin: 0;
    opacity: 0;
}

div#intro > p.fade
{
    opacity: 0.5;
}
