<div class="popup">
    <h2></h2>

    <div class="statusbar hidden"><p></p></div>

    <ul class="popup-buttons">
        <li><a href="#" class="button confirm">Done</a></li>
        <li><a href="#" class="button cancel">Cancel</a></li>
    </ul>
</div>

<form class="categoryform">
    <ul class="form">
        <li><ul class="field">
            <li><label>Name</label></li>
            <li><input name="name" type="text" maxlength="32" /></li>
        </ul></li>
        <li><ul class="field">
            <li><label>Contains hot food</label></li>
            <li><input type="checkbox" name="contents_hot" /></li>
        </ul></li>
    </ul>
</form>

<form class="itemform">
    <ul class="form">
        <li><ul class="field">
            <li><label>Name</label></li>
            <li><input name="name" type="text" maxlength="32" /></li>
        </ul></li>
        <li><ul class="field">
            <li><label>Status</label></li>
            <li><select name="status">
                <option value>---------</option>
                <option value="AVA">Available</option>
                <option value="LOW">Running Low</option>
                <option value="OUT">Sold Out</option>
                <option value="QTY">Qty Remaining</option>
            </select></li>
        </ul></li>
        <li><ul class="field">
            <li><label>Quantity</label></li>
            <li><input name="quantity" type="text" size="9" /></li>
        </ul></li>
    </ul>
</form>

<div class="location">
    <h1></h1>
    <ul class="location-buttons">
        <li><a href="#" class="button toggle">Open/Close Location</a></li>
        <li><a href="#" class="button add">Add Category</a></li>
    </ul>
    <div class="indented banner info">
        <h2>Location closed</h2>
        <h3>You can't buy any food.</h3>
        <p></p>
    </div>
    <div class="categories">
        <h3>There aren't any items associated with this location.</h3>
    </div>
    <p class="fade center"><a href="#">Refresh now</a></p>
</div>

<div class="category collapsed indented banner">
    <h2></h2>
    <h3></h3>
    <ul class="category-buttons">
        <li><a href="#" class="button edit">Edit</a></li>
        <li><a href="#" class="button delete">Delete</a></li>
        <li><a href="#" class="button add">Add Item</a></li>
    </ul>
    <div class="items"></div>
</div>

<div class="item">
    <h3></h3>
    <p></p>
    <ul class="item-buttons">
        <li><a href="#" class="button available">Available</a></li>
        <li><a href="#" class="button out">Sold Out</a></li>
        <li><a href="#" class="button edit">Edit</a></li>
        <li><a href="#" class="button delete">Delete</a></li>
    </ul>
</div>
