<?xml version="1.0"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<div class="popup">
    <h2></h2>

    <div class="statusbar hidden"><p></p></div>

    <ul class="popup-buttons">
        <li><a href="#" class="button confirm">Done</a></li>
        <li><a href="#" class="button cancel">Cancel</a></li>
    </ul>
</div>

<form class="locationform">
    <ul class="form">
        <li><ul class="field">
            <li><label>Message</label></li>
            <li><input name="message" type="text" maxlength="128" /></li>
        </ul></li>
        <li><ul class="field">
            <li><label>Open</label></li>
            <li><input name="open" type="checkbox" value="on" /></li>
        </ul></li>
    </ul>
</form>

<form class="categoryform">
    <ul class="form">
        <li><ul class="field">
            <li><label>Name</label></li>
            <li><input name="name" type="text" maxlength="32" /></li>
        </ul></li>
        <li><ul class="field">
            <li><label>Contains hot food</label></li>
            <li><input name="contents_hot" type="checkbox" value="on" /></li>
        </ul></li>
    </ul>
</form>

<form class="itemform">
    <ul class="form">
        <li><ul class="field">
            <li><label>Name</label></li>
            <li><input name="name" type="text" maxlength="32" /></li>
        </ul></li>
        <li><ul class="field">
            <li><label>Status</label></li>
            <li><select name="status">
                <option value="AVA">Available</option>
                <option value="LOW">Running low</option>
                <option value="OUT">Sold out</option>
                <option value="QTY">Qty remaining</option>
            </select></li>
        </ul></li>
        <li><ul class="field">
            <li><label>Quantity</label></li>
            <li><input name="quantity" type="text" size="9" /></li>
        </ul></li>
    </ul>
</form>

<div class="location">
    <h1></h1>
    <ul class="location-buttons">
        <li><a href="#" class="button edit">Edit</a></li>
        <li><a href="#" class="button add">Add Category</a></li>
    </ul>
    <div class="indented banner info">
        <h2>Location closed</h2>
        <h3>You can't buy any food.</h3>
        <p></p>
    </div>
    <div class="messagebar"><p></p></div>
    <div class="categories">
        <h3>There aren't any items associated with this location.</h3>
    </div>
    <p class="fade center">Updated <span></span> • <a href="#">Refresh now</a></p>
</div>

<div class="category collapsed indented banner">
    <h2></h2>
    <h3></h3>
    <ul class="category-buttons">
        <li><a href="#" class="button edit">Edit</a></li>
        <li><a href="#" class="button delete">Delete</a></li>
        <li><a href="#" class="button add">Add Item</a></li>
    </ul>
    <div class="items"></div>
</div>

<div class="item">
    <h3></h3>
    <p></p>
    <select>
        <option></option>
        <option value="AVA">Available</option>
        <option value="OUT">Sold out</option>
    </select>
    <ul class="item-buttons">
        <li><a href="#" class="button edit">Edit</a></li>
        <li><a href="#" class="button delete">Delete</a></li>
    </ul>
</div>
</html>
