<div id="intro" class="popup">
    <h2>How does this even work?</h2>
    <p>Updating the status of an item is easy. First, click on the title of the category below to expand it.</p>
    <p class="hidden">Next, select an option from an item's status menu.</p>
    <p class="hidden">Nice! You'll be an expert in no time.</p>

    <div class="category collapsed indented banner">
        <h2>Category</h2>
        <h3>Available</h3>
        <div class="items">
            <div class="item">
                <h3>Item 1</h3>
                <select>
                    <option value="AVA" selected="selected">Available</option>
                    <option value="OUT">Sold out</option>
                </select>
            </div>
            <div class="item">
                <h3>Item 2</h3>
                <select>
                    <option value="AVA" selected="selected">Available</option>
                    <option value="OUT">Sold out</option>
                </select>
            </div>
            <div class="item out">
                <h3>Item 3</h3>
                <select>
                    <option value="AVA">Available</option>
                    <option value="OUT" selected="selected">Sold out</option>
                </select>
            </div>
        </div>
    </div>

    <ul class="popup-buttons">
        <li><a href="#" class="button confirm">Got it!</a></li>
    </ul>
</div>
