{% extends 'base.html' %}
{% load compress %}

{% block title %}Delete {{ model|lower }} - {{ block.super }}{% endblock %}

{% block css %}{% compress css %}{{ block.super }}{% endcompress %}{% endblock %}
{% block js %}{% compress js %}{{ block.super }}{% endcompress %}{% endblock %}

{% block messages %}{% endblock %}

{% block content %}
    <section class="gray banner indented">
        <h2>Delete {{ model|lower }} "{{ name }}"</h2>

        <form method="post" action="">
            {% csrf_token %}
            <p>Are you sure?</p>
            <input type="submit" value="Delete" />
        </form>
    </section>
{% endblock %}
