{% extends 'base.html' %}
{% load static from staticfiles %}
{% load compress %}

{% block title %}Edit {{ model|lower }} - {{ block.super }}{% endblock %}

{% block css %}{% compress css %}{{ block.super }}{% endcompress %}{% endblock %}

{% block js %}{% compress js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/forms.js" %}"></script>
{% endcompress %}{% endblock %}

{% block messages %}{% endblock %}

{% block content %}
<section class="gray banner indented">
    <h2>{{ action|capfirst }} {{ model|lower }}{% if name %} "{{ name }}"{% endif %}</h2>

    <form method="post" action="">
        {% csrf_token %}
        {% include "form_ul.html" %}
        <input type="submit" value="Submit" />
    </form>
</section>
{% endblock %}
