{% extends 'base.html' %}
{% load static from staticfiles %}
{% load compress %}

{% block title %}Change password - {{ block.super }}{% endblock %}

{% block css %}{% compress css %}{{ block.super }}{% endcompress %}{% endblock %}

{% block js %}{% compress js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/forms.js" %}"></script>
{% endcompress %}{% endblock %}

{% block usermenu %}{% endblock %}

{% block messages %}{% endblock %}

{% block content %}
    <section class="auth banner indented">
        <h2>Change password</h2>

        <form method="post" action="{% url 'django.contrib.auth.views.password_change' %}">
            {% csrf_token %}
            {% include "form_ul.html" %}
            <input type="submit" value="Submit" />
        </form>
    </section>
{% endblock %}
