/* typography */

body
{
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: rgb(64,64,64);
}

h1, h2, h3, h4, p
{
    font-weight: normal;
}

h1
{
    font-size: 8em;
    font-weight: 200;
    line-height: 1.125em;
    margin: 0.375em 0;
}

h2
{
    font-size: 4em;
    line-height: 1.125em;
    margin: 0.375em 0;
}

h3
{
    font-size: 2em;
    line-height: 1.5em;
    margin: 0.75em 0;
}

h4
{
    font-size: 1.5em;
    line-height: 1em;
    margin: 1em 0;
}

p
{
    margin: 1.5em 0;
}

/* links */

a
{
    color: rgb(128,128,128);
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

a.noline:hover
{
    text-decoration: none;
}

/* lists */

ol, ul
{
    margin: 1.5em 0;
    padding: 0;
}

li
{
    list-style-type: none;
}

/* quotes */

blockquote
{
    position: relative;
    margin: 1.5em 1.5em 0;
    z-index: 0;
}

blockquote > p
{
    font-size: 1.5em;
    line-height: 1em;
    margin: 1em 0 0;
}

blockquote::before
{
    content: "\201c";
    position: absolute;
    top: 0.2em;
    left: -0.15em;
    font-size: 8em;
    font-family: "Georgia", serif;
    color: rgb(208,208,208);
    z-index: -1;
}

blockquote::after
{
    content: "\201d";
    position: absolute;
    bottom: -0.3em;
    right: -0.15em;
    font-size: 8em;
    font-family: "Georgia", serif;
    color: rgb(208,208,208);
    z-index: -1;
}

/* divs, sections */

div.indented, section.indented
{
    padding: 0 1em;
}

div.banner, section.banner
{
    margin: 1.5em 0;
    overflow: hidden;
}

div.banner h2 + h3
{
    font-weight: 200;
}

div.error, section.error
{
    background-color: rgb(245,164,157);
}

div.warning, div.auth, section.warning, section.auth
{
    background-color: rgb(255,216,148);
}

div.success, div.ok, section.success, section.ok
{
    background-color: rgb(175,230,116);
}

div.info, section.info
{
    background-color: rgb(151,203,255);
}

div.gray, section.gray
{
    background-color: rgb(240,240,240);
}

/* forms */

form li.error
{
    color: rgb(231,64,55);
}

input[type="text"], input[type="password"]
{
    box-sizing: border-box;
    border: 0.125em solid rgb(64,64,64);
    padding: 0;
    height: 1.5em;
}

input[type="button"], input[type="submit"]
{
    border: 0.125em solid rgb(64,64,64);
    padding: 0.125em 0.5em;
    line-height: 1em;
    background-color: transparent;
    color: rgb(64,64,64);
}

input[type="button"]:active, input[type="submit"]:active
{
    background-color: rgb(64,64,64);
    color: white;
}

input[type="submit"]
{
    margin: 0 0 1.5em;
}



/* id styling */

body
{
    background-color: rgb(232,232,232);
}

div#container
{
    position: relative;
    width: 100%;
    min-width: 768px;
    max-width: 1024px;
    margin: 0 auto;
    border-top: none;
    box-shadow: 0 0 85px 0 rgba(0,0,0,0.4);
    background-color: white;
    overflow: hidden;
}

div#container > h1
{
    margin: 0.375em 0.125em;
}

div#container > h2
{
    margin: 0.375em 0.25em;
}

div#container > h3
{
    margin: 0.75em 0.5em;
}

div#container > h4
{
    margin: 1em 0.6666em;
}

div#container > p
{
    margin: 1.5em 1em;
}

/* top menu */

nav#topmenu
{
    background-color: rgb(64,64,64);
    font-weight: 200;
    color: white;
    overflow: hidden;
}

#homelink
{
    display: inline-block;
    padding: 0.25em 0.6666em;
    font-size: 1.5em;
    line-height: 1.5em;
    color: white;
}

ul#usermenu
{
    display: inline-block;
    margin: 0;
    float: right;
}

ul#usermenu > li
{
    list-style-type: none;
    float: left;
}

ul#usermenu > li > a
{
    display: inline-block;
    padding: 0.75em 1em;
    color: white;
}

nav#topmenu a:hover
{
    text-decoration: none;
    background-color: rgb(128,128,128);
}

/* messages */

ul#messagelist
{
    margin: 0;
}

ul#messagelist > li
{
    height: 1.5em;
    margin: 1.5em 1em 0 1em;
    padding: 0.75em 1em;
    overflow: hidden;

    -webkit-transition-property: height, margin-top, padding-top, padding-bottom, opacity;
    -moz-transition-property: height, margin-top, padding-top, padding-bottom, opacity;
    -ms-transition-property: height, margin-top, padding-top, padding-bottom, opacity;
    -o-transition-property: height, margin-top, padding-top, padding-bottom, opacity;
    transition-property: height, margin-top, padding-top, padding-bottom, opacity;

    -webkit-transition-duration: 0.35s;
    -moz-transition-duration: 0.35s;
    -ms-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

ul#messagelist > li.collapsed
{
    height: 0;
    margin-top: 0;
    padding: 0 1em;
    opacity: 0;
}

ul#messagelist > li.error
{
    background-color: rgb(245,164,157);
}

ul#messagelist > li.warning
{
    background-color: rgb(255,216,148);
}

ul#messagelist > li.success
{
    background-color: rgb(175,230,116);
}

ul#messagelist > li.info
{
    background-color: rgb(151,203,255);
}

ul#messagelist > li.debug
{
    background-color: rgb(240,240,240);
}

a.close
{
    margin-left: 1em;
    cursor: pointer;
    float: right;
}

a.close:hover
{
    color: rgb(64,64,64);
}
