/* locations */

div.location
{
    position: relative;
    background-color: rgb(175,230,116);
    color: rgb(64,64,64);
}

div.location.closed
{
    background-color: rgb(110,190,255);
}

div.location.out
{
    background-color: rgb(245,164,157);
}

div.location > h2
{
    margin-right: 1.25em;
}

div.location > h2::after
{
    content: url(../img/arrow-d-64.png);
    position: absolute;
    top: 0.45em;
    right: 0.25em;
}

div.location.closed > h2
{
    margin-right: 0;
}

div.location.closed > h2::after
{
    content: none;
}

/* about */

ul#testimonials
{
    margin-right: -1em;
    overflow: hidden;
}

ul#testimonials > li
{
    margin-right: 1em;
    background-color: rgb(240,240,240);
    float: left;
}

p.cite
{
    font-size: 0.75em;
    line-height: 1em;
    margin: 1.5em 2em;
    font-style: italic;
}

p.cite::before
{
    content: "- ";
}

/* footer */

footer#credits
{
    background-color: rgb(240,240,240);
    overflow: hidden;
}

footer#credits > p
{
    margin: 0.75em 1em;
    font-weight: 100;
    float: left;
}

span#byline
{
    font-weight: normal;
}

footer#credits > a
{
    display: inline-block;
    height: 24px;
    margin: 0.75em 1em 0.75em 0;
    color: transparent;
    float: right;
    opacity: 0.275;
}

footer#credits > a:hover
{
    opacity: 1;
}

footer#credits > a.django
{
    width: 69px;
    background-image: url(../img/django-24.png);
}

footer#credits > a.jquery
{
    width: 85px;
    background-image: url(../img/jquery-24.png);
}
